In [99]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, weekofyear, year

In [100]:
spark = (SparkSession
    .builder
    .master('local')
    .config("spark.jars", "/usr/local/spark/resources/jars/postgresql-42.3.3.jar")
    .getOrCreate()
)

In [101]:
df_trips = spark.read.format("jdbc")\
    .option("driver", "org.postgresql.Driver")\
        .option("url", "jdbc:postgresql://postgres/postgres")\
        .option("user", "airflow")\
        .option("password", "airflow")\
    .option("dbtable", "trips")\
    .load()

In [102]:
df_trips.show()

+---+---------+-----------------+-----------------+-------------------+-------------------+-------------------+---------+
| id|id_region|   origin_coord_x|   origin_coord_y|destination_coord_x|destination_coord_y|           datetime|id_source|
+---+---------+-----------------+-----------------+-------------------+-------------------+-------------------+---------+
| 80|        1|14.47912398994219|50.11781434726048|  14.54894833778109|  50.01480664304733|2018-05-19 09:07:17|        4|
| 78|        1|14.59545724636152| 50.0524554235424|  14.48321912885263|  50.06509529578676|2018-05-09 04:23:26|        4|
| 74|        1|14.65754935346634|50.11820315220623|  14.48378121129139|  50.09770540993485|2018-05-10 09:38:12|        4|
| 65|        1|14.34611560109357|50.02251748571683|  14.34790601885638|  50.11666616118271|2018-05-14 23:16:56|        4|
| 54|        1|14.37338615486802|50.06537556739956|  14.54081985518606|  50.08790619445585|2018-05-10 23:04:58|        4|
| 43|        1|14.49581069715323|50.07207927074405|  14.54926715156042|  50.04365439736826|2018-05-04 04:40:35|        4|
| 35|        1|14.56801740803507|49.98980557466577|  14.60544806001137|   50.1174974586993|2018-05-12 15:12:04|        4|
| 62|        1|14.34989439101649| 50.0578756416996|   14.6610239449707|  50.07877245872595|2018-05-26 01:13:35|        2|
| 36|        1|14.31840390580184|50.08466755143189|  14.55762488630385|  50.08502385365859|2018-05-19 23:08:09|        2|
| 27|        1|14.65848565403607|50.11571340810843|  14.61296534823862|  50.06347771442317|2018-05-08 04:22:01|        2|
|  1|        1| 14.4973794438195|50.00136875782316|  14.43109483523328|  50.04052930943246|2018-05-28 09:03:40|        2|
| 98|        1|14.40975521275597|  50.037791514028|  14.59895464921585|  50.05472087955579|2018-05-12 08:13:09|        1|
| 96|        1|14.33562319852013|50.05977285737693|  14.45302412886982|  50.06961029075634|2018-05-03 18:56:45|        1|
| 61|        1|14.37987779362806|50.02580819336156|  14.44097861083801|  49.99269705719384|2018-05-03 10:45:23|        1|
| 58|        1|14.64292585196625|50.02034172465275|   14.5017970263999|  50.03963869865565|2018-05-17 20:15:45|        1|
| 55|        1|14.53300650375239|50.12502233477432|  14.66560032530535|   50.0869602482622|2018-05-23 01:07:33|        1|
| 53|        1|14.37153748521014|50.00937333429672|  14.65648496061339|   50.1233558262903|2018-05-20 05:47:02|        1|
| 51|        1|14.62777653398497|50.00367807685823|  14.64297252209033|   50.0121919035355|2018-05-29 03:33:44|        1|
| 45|        1|14.33107209002501|50.06307196908211|   14.3200468695536|  50.10807754182695|2018-05-20 01:41:36|        1|
| 41|        1|14.42406040824624|50.07214185487351|  14.31657321025762|  50.09295527259866|2018-05-29 12:44:02|        1|
+---+---------+-----------------+-----------------+-------------------+-------------------+-------------------+---------+
only showing top 20 rows

In [ ]:
# Trips with similar origin, destination, and time of day should be grouped togethe

In [103]:
df_group_trips = (df_trips
                  .select(
                      "origin_coord_x", 
                      "origin_coord_y", 
                      "destination_coord_x", 
                      "destination_coord_y", 
                      "datetime"
                  ).groupBy(
                      "origin_coord_x", 
                      "origin_coord_y", 
                      "destination_coord_x", 
                      "destination_coord_y", 
                      "datetime"
                  ).agg(
                      count('*')
                      .alias("trips_quantity")
                  )
                 )

In [104]:
df_group_trips.show()

+-----------------+-----------------+-------------------+-------------------+-------------------+--------------+
|   origin_coord_x|   origin_coord_y|destination_coord_x|destination_coord_y|           datetime|trips_quantity|
+-----------------+-----------------+-------------------+-------------------+-------------------+--------------+
|14.31840390580184|50.08466755143189|  14.55762488630385|  50.08502385365859|2018-05-19 23:08:09|             1|
|10.04884628340258|53.51430547831718|  9.805977128944804|  53.56924626552725|2018-05-21 19:13:24|             1|
|7.558864701837288|45.11540031667295|  7.770328470181719|  45.05433872971169|2018-05-01 17:42:05|             1|
|7.541509189114433|45.09160503827746|   7.74528653441973|  45.02628598341506|2018-05-06 09:49:16|             1|
|14.53300650375239|50.12502233477432|  14.66560032530535|   50.0869602482622|2018-05-23 01:07:33|             1|
|10.17378993097742| 53.5467336774148|  10.21529787231755|  53.50485266884467|2018-05-21 04:06:11|             1|
|14.34989439101649| 50.0578756416996|   14.6610239449707|  50.07877245872595|2018-05-26 01:13:35|             1|
|10.00384920850646|53.65220121071665|  9.944925737232104|  53.42494618904695|2018-05-21 20:53:22|             1|
| 9.80304883152659|53.50847122244616|  9.834883820942993|  53.63694321201706|2018-05-09 09:28:24|             1|
| 7.72037765675129| 45.1044438436921|  7.695048310476258|  45.12827648115218|2018-05-05 07:05:01|             1|
|14.59545724636152| 50.0524554235424|  14.48321912885263|  50.06509529578676|2018-05-09 04:23:26|             1|
|9.961144659266848|53.42865933587807|  10.08503581364391|  53.43645004358303|2018-05-06 06:34:22|             1|
|14.32427345662177|50.00002074358429|  14.47767895969969|  50.09339790740321|2018-05-13 08:52:25|             1|
|7.557295325138827|  44.980984165477|  7.634488648561684|  45.09941960292201|2018-05-25 15:16:35|             1|
| 9.91347867604199|53.64940529138455|  10.17687554971065|  53.63421553339072|2018-05-31 11:59:33|             1|
|7.555153646171233|44.99912435872375|  7.703621918783042|  45.12162242437576|2018-05-11 05:58:34|             1|
|7.672837913286881| 44.9957109242058|  7.720368637535126|  45.06782385393849|2018-05-21 02:54:04|             1|
|9.915740323664213|53.60938698922035|  9.836133816394081|   53.5340991521548|2018-05-10 17:51:38|             1|
|10.17801484401512|53.55155909331071|  9.958672518621771|   53.5509263400788|2018-05-07 10:28:04|             1|
|9.855285083390802|53.49609983095765|  10.03327373452912|  53.65419620043016|2018-05-31 10:55:12|             1|
+-----------------+-----------------+-------------------+-------------------+-------------------+--------------+
only showing top 20 rows

In [ ]:
# weekly average number of trips for an area, defined by a region.

In [117]:
df_trips_time = (df_trips
                 .withColumn("datetime", 
                             col("datetime")
                             .cast("timestamp")
                            )
                )
df_trips_week = (df_trips_time
                .withColumn("week",
                           weekofyear(col("datetime"))
                           )
                .withColumn("year",
                           year(col("datetime"))
                           )
                )

In [155]:
df_trips_week.show()

+---+---------+-----------------+-----------------+-------------------+-------------------+-------------------+---------+----+----+
| id|id_region|   origin_coord_x|   origin_coord_y|destination_coord_x|destination_coord_y|           datetime|id_source|week|year|
+---+---------+-----------------+-----------------+-------------------+-------------------+-------------------+---------+----+----+
| 80|        1|14.47912398994219|50.11781434726048|  14.54894833778109|  50.01480664304733|2018-05-19 09:07:17|        4|  20|2018|
| 78|        1|14.59545724636152| 50.0524554235424|  14.48321912885263|  50.06509529578676|2018-05-09 04:23:26|        4|  19|2018|
| 74|        1|14.65754935346634|50.11820315220623|  14.48378121129139|  50.09770540993485|2018-05-10 09:38:12|        4|  19|2018|
| 65|        1|14.34611560109357|50.02251748571683|  14.34790601885638|  50.11666616118271|2018-05-14 23:16:56|        4|  20|2018|
| 54|        1|14.37338615486802|50.06537556739956|  14.54081985518606|  50.08790619445585|2018-05-10 23:04:58|        4|  19|2018|
| 43|        1|14.49581069715323|50.07207927074405|  14.54926715156042|  50.04365439736826|2018-05-04 04:40:35|        4|  18|2018|
| 35|        1|14.56801740803507|49.98980557466577|  14.60544806001137|   50.1174974586993|2018-05-12 15:12:04|        4|  19|2018|
| 62|        1|14.34989439101649| 50.0578756416996|   14.6610239449707|  50.07877245872595|2018-05-26 01:13:35|        2|  21|2018|
| 36|        1|14.31840390580184|50.08466755143189|  14.55762488630385|  50.08502385365859|2018-05-19 23:08:09|        2|  20|2018|
| 27|        1|14.65848565403607|50.11571340810843|  14.61296534823862|  50.06347771442317|2018-05-08 04:22:01|        2|  19|2018|
|  1|        1| 14.4973794438195|50.00136875782316|  14.43109483523328|  50.04052930943246|2018-05-28 09:03:40|        2|  22|2018|
| 98|        1|14.40975521275597|  50.037791514028|  14.59895464921585|  50.05472087955579|2018-05-12 08:13:09|        1|  19|2018|
| 96|        1|14.33562319852013|50.05977285737693|  14.45302412886982|  50.06961029075634|2018-05-03 18:56:45|        1|  18|2018|
| 61|        1|14.37987779362806|50.02580819336156|  14.44097861083801|  49.99269705719384|2018-05-03 10:45:23|        1|  18|2018|
| 58|        1|14.64292585196625|50.02034172465275|   14.5017970263999|  50.03963869865565|2018-05-17 20:15:45|        1|  20|2018|
| 55|        1|14.53300650375239|50.12502233477432|  14.66560032530535|   50.0869602482622|2018-05-23 01:07:33|        1|  21|2018|
| 53|        1|14.37153748521014|50.00937333429672|  14.65648496061339|   50.1233558262903|2018-05-20 05:47:02|        1|  20|2018|
| 51|        1|14.62777653398497|50.00367807685823|  14.64297252209033|   50.0121919035355|2018-05-29 03:33:44|        1|  22|2018|
| 45|        1|14.33107209002501|50.06307196908211|   14.3200468695536|  50.10807754182695|2018-05-20 01:41:36|        1|  20|2018|
| 41|        1|14.42406040824624|50.07214185487351|  14.31657321025762|  50.09295527259866|2018-05-29 12:44:02|        1|  22|2018|
+---+---------+-----------------+-----------------+-------------------+-------------------+-------------------+---------+----+----+
only showing top 20 rows

In [153]:
df_count_trips_week = (df_trips_week
                       .select(
                           "week", 
                           "year", 
                           "id_region", 
                           "datetime"
                       ).groupBy(
                           "week", 
                           "year", 
                           "id_region"
                       ).agg(
                           count("datetime").alias("week_trips")
                       )
                      )

In [154]:
df_count_trips_week.show()

+----+----+---------+----------+
|week|year|id_region|week_trips|
+----+----+---------+----------+
|  22|2018|        1|         3|
|  20|2018|        1|         8|
|  21|2018|        3|        14|
|  19|2018|        2|         6|
|  19|2018|        3|         6|
|  21|2018|        2|         7|
|  20|2018|        3|         6|
|  18|2018|        3|         8|
|  22|2018|        2|         5|
|  20|2018|        2|         5|
|  19|2018|        1|         8|
|  21|2018|        1|         5|
|  18|2018|        2|         5|
|  22|2018|        3|         4|
|  18|2018|        1|        10|
+----+----+---------+----------+

In [151]:
df_avg_trips_week = (df_count_trips_week
                     .select(
                         "year", 
                         "id_region", 
                         "week_trips"
                     ).groupBy(
                         "year", 
                         "id_region"
                     ).agg(
                         avg("week_trips").alias("avg_week_trips")
                     )
                    )

In [152]:
df_avg_trips_week.show(truncate=False)

+----+---------+--------------+
|year|id_region|avg_week_trips|
+----+---------+--------------+
|2018|3        |7.6           |
|2018|1        |6.8           |
|2018|2        |5.6           |
+----+---------+--------------+